<div style="background-color: cornflowerblue">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col-lg-6 col-md-6 col-12">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <img src="/media/icon_web.png" width="70px;">&nbsp;<h3>ReporterDEV</h3>
                </a>
                <p class="text-muted">
                    ReporterDEV — Your go-to platform to explore, learn, and grow in the world of
                    programming.
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <h5>Company</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">News</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blogs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <h5>Community</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Docs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Open source</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>