.content-news img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000000;
}

.card {
    border: none;
}

.card-img-custom {
    width: 100%; /* Ensure the image spans the full width of the card */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the space without distortion */
    border-radius: 4px; /* Optional: Gives the images slightly rounded corners */
}

.tags * {
    display: inline-block;
}

.tag-news {
    background-color: lightgray;
    font-size: 12px;
    margin: 7px 7px 0 0;
    padding: 5px;
}