{% if user.is_authenticated %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Comment</button>
    </form>
</div>
{% endif %}
<h2>Comments</h2>
{% for comment in new.comments.all %}
<div class="row border-top pt-2">
    <div class="col">
        <h6>Posted by {{ comment.creator }} at {{ comment.created_at|date:"M, d Y h:i" }}</h6>
    </div>
</div>
<div class="row border-bottom">
    <div class="col">
        <p>{{ comment.content }}</p>
    </div>
</div>
{% empty %}
    <p>Current hasn't comment.</p>
{% endfor %}