{% extends 'news/base_news.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {{ tag.name }}
{% endblock %}

{% block content %}
    <h1>Tag: {{ tag.name }}</h1>
    <hr>
    {% for new in news %}
        <div class="card mb-3" style="max-width: 70%; border-radius: 10px; border: 1px solid black; padding: 10px">
            <div class="row g-0">
                <div class="col-md-4">
                    <a href="{% url 'news:detail_news' slug=new.slug %}">
                        {% if new.avatar %}
                            <img src="/media/{{ new.avatar }}" class="img-fluid rounded-start card-img-custom"
                                 alt="{{ new.slug }}">
                        {% else %}
                            <img src="/media/example.jpg" class="img-fluid rounded-start card-img-custom"
                                 alt="{{ new.slug }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{% url 'news:detail_news' slug=new.slug %}"><h5 class="card-title">{{ new.title }}</h5>
                        </a>
                        <p class="card-text">{{ new.sapo }}</p>
                        <p class="card-text"><small class="text-muted">{{ new.created_date|date:"G:i d-m-Y" }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}