<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://reportdev.com.vn{{ request.path }}"/>
    <meta name="robots" content="index,follow"/>
    <meta name="revisit-after" content="1 days"/>
    <meta name='copyright' content='ReporterDev'>
    <meta name="geo.region" content="VN"/>
    <meta name="geo.placename" content="Hung Yen"/>
    <meta name="google" content="nositelinkssearchbox"/>
    <link rel="icon" href="/media/icon_web.png" type="image/x-icon"/>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "ReporterDEV - Thời sự về ngành DEV",
            "alternateName": "Tin tức về lập trình, Cộng đồng lập trình",
            "url": "https://reportdev.com.vn{{ request.path }}"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "ReporterDEV",
            "url": "https://reportdev.com.vn",
            "logo": "media/icon_web.png",
            "email": "mailto: phan279999@gmail.com",
            "sameAs": [
                "https://twitter.com/",
                "https://www.facebook.com/phantu.27310/"
            ],
            "contactPoint": [
                {
                    "@type": "ContactPoint",
                    "telephone": "(84) 398 39 79 49",
                    "contactType": "customer service"
                }
            ],
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Thanh Xuân",
                "addressRegion": "Hà Nội",
                "addressCountry": "Việt Nam",
                "postalCode": "100000",
                "streetAddress": "Address"
            }
        }
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
    {% endblock %}
    <title>{% block title %}

    {% endblock %}</title>
</head>
<body>
{% include 'partials/_navbar.html' %}
{% block sub_navbar %}

{% endblock %}
{% block content %}

{% endblock %}
{% include 'partials/_footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>