{% extends 'base.html' %}
{% load filter_news %}

{% block stylesheets %}
    {{ block.super }}
{% endblock %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    {#    <div class="hero">#}
    {#        <h1>Welcome to DevWorld</h1>#}
    {#    </div>#}

    <div class="row">
        <div class="col-lg-3">

            <div class="info" style="background-color: #FFFFFF; margin: 10px; padding: 10px; border-radius: 10px;">
                <h2>ReporterDEV is a community of developer</h2><hr>
                <p>We're a place where coders share, stay up-to-date and grow their careers.</p>
            </div>
            <div class="block-tag" style="background-color: #FFFFFF; margin: 10px; padding: 10px; border-radius: 10px;">
                <h2>Popular Tag</h2><hr>
                {% for tag in tags %}
                    <a href="{% url 'news:news_in_tag' url=tag.url %}"><p>#{{ tag.name }}</p></a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9">
            <section id="news" class="section">
                <a href="{% url 'news:lastest_news' %}">
                    <h2>Latest News</h2>
                </a>
                <div class="grid">
                    {% for new in news %}
                        <div class="card">
                            <a href="{% url 'news:detail_news' slug=new.slug %}">
                                {% if new.avatar %}
                                    <img src="/media/{{ new.avatar }}" alt="{{ new.slug }}">
                                {% else %}
                                    <img src="/media/example.jpg" alt="{{ new.slug }}">
                                {% endif %}
                            </a>
                            <a href="{% url 'news:detail_news' slug=new.slug %}"><h3>{{ new.title }}</h3></a>
                            <p>{{ new.sapo|filter_sapo }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section id="blogs" class="section">
                <h2>Featured Blogs</h2>
                <div class="grid">
                    {% for blog in blogs %}
                        <div class="card">
                            <a href="{% url 'blog:detail_blog' slug=blog.slug %}">
                                {% if blog.avatar %}
                                    <img src="/media/{{ blog.avatar }}" alt="{{ blog.slug }}">
                                {% else %}
                                    <img src="/media/example.jpg" alt="{{ blog.slug }}">
                                {% endif %}
                            </a>
                            <a href="{% url 'blog:detail_blog' slug=blog.slug %}"><h3>{{ blog.title }}</h3></a>
                            <p>{{ blog.sapo|filter_sapo }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

{% endblock %}